<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Cadastro de Usu&aacute;rio </h1>
    <form action="/adduser" method="post">
        <p>Username:<input type="text" name="username" /></p>
        <p>Email:<input type="text" name="useremail" /></p>
        <p><input type="submit" value="Salvar" /></p>
    </form>
</body>
</html>